<h2 class="project-name">{{channel}} Channel</h2>

<p>{{channelDescription}}</p>

{{#if model.filesPresent}}
  {{#each projects as |project|}}
    {{#if project.isEmberBeta}}
      <div class="release-progress clear">
        <div class="left">
          <div class="small-release-image" title={{project.lastStableVersion}}></div>
          <div class="release-version">{{project.lastStableVersion}}</div>
          <div class="release-date">Released {{format-date-time project.lastStableDate "MMM Do"}}</div>
        </div>
        <div class="float-left-container">
          <div class="release-cycle-title">The path to {{project.finalVersion}}...</div>
          {{project-listing/beta
              version=1
              isCompleted=project.beta1Completed
              isCurrentBeta=project.isBeta1
          }}
          {{project-listing/beta
              version=2
              isCompleted=project.beta2Completed
              isCurrentBeta=project.isBeta2
              isFutureBeta=project.isBeta1
          }}
          {{project-listing/beta
              version=3
              isCompleted=project.beta3Completed
              isCurrentBeta=project.isBeta3
              isFutureBeta=project.isBeta2
          }}
          {{project-listing/beta
              version=4
              isCompleted=project.beta4Completed
              isCurrentBeta=project.isBeta4
              isFutureBeta=project.isBeta3
          }}
          {{project-listing/beta
              version=5
              isCompleted=project.beta5Completed
              isCurrentBeta=project.isBeta5
              isFutureBeta=project.isBeta4
          }}
          {{project-listing/beta
              version=6
              isCompleted=project.beta6Completed
              isCurrentBeta=project.isBeta6
              isFutureBeta=project.isBeta5
          }}
        </div>
        <div class="right future-image">
          <div class="small-release-image" title={{project.finalVersion}}></div>
          <div class="release-version">{{project.finalVersion}}</div>
          <div class="release-date">Coming {{format-date-time project.cycleEstimatedFinishDate "MMM Do"}}</div>
        </div>
        <div class="clear"></div>
      </div>
    {{/if}}
    <div class="ember-cli-usage">
      {{ember-cli-usage
          project=project
          channel=channel}}
    </div>
  {{/each}}
  <div class="files-table">
    <h4 class="project-name">{{channel}} Channel Downloads</h4>
    <table class="table">
      <thead>
        <tr>
          <th>File</th>
          <th>Modified</th>
          <th>Quick Copy</th>
        </tr>
      </thead>
      <tbody>
        {{#each projects as |project|}}
          {{files-table
              project=project
              includeReleasesInFileList=includeReleasesInFileList}}
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <br/>
  {{#if model.isLoading}}
    <p class="loading-spinner">
      Loading...<br/><br/>
      <img src="/images/ajax-loader.gif" width="31" height="31" />
    </p>
  {{else}}
    <p>There are currently no builds for {{model.title}}. Please check back soon.</p>
  {{/if}}
{{/if}}
