    <div class="channel canary">
      {{#link-to 'canary' class='tomster'}}
        <div class="canary" title="Canary Builds"></div>
      {{/link-to}}
      <div class="description">
        <h2 class="text-left">
          {{#link-to 'canary'}}Canary{{/link-to}}
        </h2>
        <p>Canary builds are the bleeding edge of Ember development. Please do
        not use these builds unless you want to try out and offer
        feedback on new features and fixes not available in the Release or
        Beta builds.</p>
      </div>
    </div>
    <div class="channel beta">
      {{#link-to 'beta' class='tomster'}}
        <div class="beta" title="Beta Builds"></div>
      {{/link-to}}
      <div class="description">
        <h2 class="text-left">
          {{#link-to 'beta'}}Beta{{/link-to}}
        </h2>
        <p>
        <em>The latest beta release is {{model.beta.lastRelease}}, made
          {{format-date-time model.beta.date}}</em>
        </p>
        <p>
          Beta builds incorporate new features that are ready for evaluation in
          application code. We do not recommend using Beta builds in production.
        </p>
      </div>
    </div>
    <div class="channel release">
      {{#link-to 'release' class='tomster'}}
        <div class="release" title="Release Builds"></div>
      {{/link-to}}
      <div class="description">
        <h2 class="text-left">
          {{#link-to 'release'}}Release{{/link-to}}
        </h2>
        <p>
        <em>The latest stable release is {{model.release.lastRelease}}, made
          on {{format-date-time model.release.date 'MMMM Do, YYYY'}}</em>
        </p>
        <p>
          Release builds have been hardened through our multi-tiered release
          process. These builds are perfect for use in production environments.
        </p>
      </div>
    </div>
    <div class="channel lts">
      <a class="tomster">
        <div class="lts" title="LTS Builds"></div>
      </a>
      <div class="description last">
        <h2 class="text-left">Long-Term Support (LTS)</h2>
        <p>
          <em>The latest LTS release is {{model.lts.lastRelease}}, made on
            {{format-date-time model.lts.date 'MMMM Do, YYYY'}}</em>
        </p>
        <p>
          The LTS channel provides a longer support timeframe but receives
          new features less frequently. These builds are right for users who
          prefer to upgrade roughly twice a year.
        </p>
      </div>
    </div>